body {
    background: url("../images/dark-wood.jpg");
    /* background: none; */
    min-height: 100vh;
    border-radius: 1em;
}
.app-component {
    display: flex;
    /* margin-top: 1em; */
    align-items: center;
    justify-content: space-around;
    border: 1px solid grey;
    padding: 1em;
    border-radius: 1em;
}
.time-component {

    /* font-size: 4em; */
}
